<!-- Navbar de la app -->
<app-navbar></app-navbar><br />
<div class="container">
  <div class="text-center"><h2>Punto de equilibrio calculado</h2></div>
  <hr />
  <br />
  <div class="row">
    <div class="col-md-9">
      <!-- Formulario reactivo -->
      <form [formGroup]="myForm">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="precioUnitarioVenta"><b>P.U.V:</b></label>
              <input
                class="form-control form-control-sm"
                placeholder="Precio unitario de venta"
                type="number"
                id="precioUnitarioVenta"
                formControlName="precioUnitarioVenta"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="qtyUnidadesVendidas"><b>C.U.V:</b></label>
              <input
                class="form-control form-control-sm"
                placeholder="Cantidad de unidades vendidas"
                type="number"
                id="qtyUnidadesVendidas"
                formControlName="qtyUnidadesVendidas"
              />
            </div>
          </div>
          <div class="col-md-5">
            <br />
            <button
              class="btn btn-primary btn-sm"
              (click)="calcularPuntoEquilibrio()"
            >
              Calcular <i class="fa fa-calculator"></i>
            </button>
          </div>
        </div>
      </form>
      <br />
      <!-- Renderizar gráfica -->
      <canvas id="myChart"></canvas>
      <hr />
      <!-- CRUD -->
      <div class="row">
        <div class="col-md-6">
          <app-costos-variables></app-costos-variables>
        </div>
        <div class="col-md-6">
          <app-costos-fijos></app-costos-fijos>
        </div>
      </div>
    </div>
    <!-- Informacion de costos -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title>">Información de costos</h6>
        </div>
        <div class="card-body">
          <p>
            Costo fijo total: <b>{{ totalCF | currency : "MXN" }}</b>
          </p>
          <hr />
          <p>
            Costo variable total: <b>{{ totalCV | currency : "MXN" }}</b>
          </p>
        </div>
      </div>
      <!-- Información de equilibrio -->
      <div class="card">
        <div class="card-header">
          <h6 class="card-title>">Información de equilibrio</h6>
        </div>
        <div class="card-body">
          <p>
            Cantidad de ventas equilibrio:
            <b>{{ cantidadEquilibrio | number }}</b>
          </p>
          <hr />
          <p>
            Ingreso de equilibrio:
            <b>{{ ingresoEquilibrio | currency : "MXN" }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</div>
