<!-- Navbar de la app -->
<app-navbar></app-navbar><br />
<div class="container">
  <div class="text-center"><h2>Punto de equilibrio calculado</h2></div>
  <hr />
  <br />
  <div class="row">
    <div class="col-md-9">
      <!-- Renderizar gráfica -->
      <canvas id="myChart"></canvas>
      <hr />
      <!-- CRUD -->
      <div class="row">
        <div class="col-md-6">
          <app-costos-variables></app-costos-variables>
        </div>
        <div class="col-md-6">
          <app-costos-fijos></app-costos-fijos>
        </div>
      </div>
    </div>
    <!-- Informacion de costos -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title>">Información de costos</h6>
        </div>
        <div class="card-body">
          <p>
            Costo fijo total: <b>{{ totalCF | currency : "MXN" }}</b>
          </p>
          <hr />
          <p>
            Costo variable total: <b>{{ totalCV | currency : "MXN" }}</b>
          </p>
        </div>
      </div>
      <!-- Información de equilibrio -->
      <div class="card">
        <div class="card-header">
          <h6 class="card-title>">Información de equilibrio</h6>
        </div>
        <div class="card-body">
          <p>
            Cantidad de equilibrio:
            <b>{{ cantidadEquilibrio | currency : "MXN" }}</b>
          </p>
          <hr />
          <p>
            Ingreso de equilibrio:
            <b>{{ ingresoEquilibrio | currency : "MXN" }}</b>
          </p>
        </div>
      </div>
    </div>
    <br />
  </div>
  <br /><br />
</div>
