<!-- Navbar de la app -->
<app-navbar></app-navbar><br />
<div class="container">
  <div class="text-center"><h2>Punto de equilibrio calculado</h2></div>
  <hr />
  <br />
  <div class="row">
    <div class="col-md-9">
      <!-- Renderizar gráfica -->
      <canvas id="myChart"></canvas>
      <hr />
      <!-- CRUD -->
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title>">Lista de costos variables</h6>
            </div>
            <div class="card-body">data table</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title>">Lista de costos fijos</h6>
            </div>
            <div class="card-body">data table</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Informacion adicional -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title>">Información de costos</h6>
        </div>
        <div class="card-body">
          <p>Costo fijo total:</p>
          <p>Costo variable total:</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h6 class="card-title>">Información de equilibrio</h6>
        </div>
        <div class="card-body">
          <p>Cantidad de equilibrio:</p>
          <p>Ingreso de equilibrio:</p>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
