<div class="card">
  <div class="card-header">
    <h6 class="card-title>">Lista de costos fijos</h6>
  </div>
  <!-- Tabla de costos variables -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Monto</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let costo of costosFijosList">
        <td>{{ costo.id }}</td>
        <td>{{ costo.descripcion }}</td>
        <td>{{ costo.monto | currency : "MXN" }}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm">
              <i class="fa fa-pen"></i>
            </button>
            <button class="btn btn-danger btn-sm">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="card-footer">
    <button class="btn btn-secondary btn-sm">
      <i class="fa fa-plus"></i> Agregar costo fijo
    </button>
  </div>
</div>
