<div class="card">
  <div class="card-header">
    <h6 class="card-title>">Lista de costos fijos</h6>
  </div>
  <!-- Tabla de costos variables -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Monto</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let costo of costosFijosList">
        <td>{{ costo.id }}</td>
        <td>{{ costo.descripcion }}</td>
        <td>{{ costo.monto | currency : "MXN" }}</td>
        <td>
          <div class="">
            <!-- Edit modal -->
            <app-update-costo-fijo
              style="margin: 2px"
              [costo]="costo"
            ></app-update-costo-fijo>
            <!-- Delete modal -->
            <app-delete-costo-fijo [costo]="costo"></app-delete-costo-fijo>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="card-footer">
    <app-create-costo-fijo></app-create-costo-fijo>
  </div>
</div>
