<!-- Contenido del modal template -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar un nuevo costo</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addFormulario" (ngSubmit)="createCosto()">
      <div class="form-group">
        <label for="descripcion"><b>Descripción</b></label>
        <br />
        <input
          formControlName="descripcion"
          type="text"
          class="form-control"
          id="descripcion"
          placeholder="Ingrese la descripción del costo"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="monto"><b>Monto</b></label>
        <br />
        <input
          formControlName="monto"
          type="number"
          class="form-control"
          id="monto"
          placeholder="Ingrese el monto"
        />
      </div>
      <br /><br />
      <button type="submit" class="btn btn-outline-dark">Guardar costo <i class="fa fa-save"></i></button>
    </form>
  </div>
</ng-template>

<!-- Botón que accionará el modal -->
<button type="submit" class="btn btn-secondary btn-sm" (click)="open(content)">
  Agregar costo <i style="margin-left: 2px" class="fa fa-plus"></i>
</button>
