<div class="card">
  <div class="card-header">
    <h6 class="card-title>">Lista de costos variables</h6>
  </div>
  <!-- Tabla de costos fijos -->
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let costo of costosVariablesList">
        <td>{{ costo.id }}</td>
        <td>{{ costo.descripcion }}</td>
        <td>{{ costo.monto }}</td>
      </tr>
    </tbody>
  </table>
</div>
